header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem;
  background-color: rgb(78, 121, 106, 0.5); 
  color: rgb(47, 53, 71);
}

.logo {
  width: 10rem;
  height: 10rem;
  background-image: url(../img/rocket.svg);
  background-size: contain;
}

.title, .text, .price, .city, .contact-name, .contact-email, .contact-phone {
  color: rgb(47, 53, 71);
}

section {
  background-color: rgba(250, 250, 236, 0.5);
  padding: 30px 30px 10px 30px;
}

a {
  padding: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  text-decoration: none ;
  color: rgb(47, 53, 71);
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: rgb(106, 109, 146);
}

.bold {
  font-weight: bold;
}

img {
  width: 100%; 
  height: auto;
}